.form-wrapper {
  width: 55%;
  margin: 40px auto;
  background: #1e2636;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  color: white;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: white;
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  background: #2d3748;
  color: white;
  font-size: 16px;
}

textarea {
  height: 110px;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #6366f1;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}
